/**
 * height
 * button, input, select...
 */
$--height-regular: 40px;
$--height-medium: 35px;
$--height-small: 30px;
$--height-mini: 24px;

/**
 * border-radius
 * button, input, select...
 */
$--border-radius-8: 8px;
$--border-radius-6: 6px;
$--border-radius-4: 4px;
$--border-radius-2: 2px;

/**
 * font-size
 */
$--font-size-24: 24px;
$--font-size-20: 20px;
$--font-size-18: 18px;
$--font-size-16: 16px;
$--font-size-14: 14px;
$--font-size-12: 12px;
$--font-size-10: 10px;
